# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
.venv/
venv/

# VS Code
.vscode/

# Docker
*.log
docker-compose.override.yml

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

.mcp.json